header .small-btn {
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
}

.meet-btn {
  outline: none;
  padding: 16px 20px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.meet-btn, header .small-btn, .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 24px;
  height: 2px;
  border-top: 2px solid #000;
}

.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e0e4e8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: Noto Sans, sans-serif;
}

header {
  height: 20vh;
}

.big-discover {
  height: 80vh;
  width: 100%;
}

.meet-btn {
  background-color: #28ce98;
  border: none;
  outline: none;
  color: #fff;
}

header .small-btn {
  background-color: #28ce98;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
}

#azar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 23px;
}

@-webkit-keyframes spring {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes spring {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1004;
  padding: 26px 30px;
}

#splash-logo {
  width: 165px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: spring;
          animation-name: spring;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.loading {
  z-index: 9876;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #28ce98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-nav-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  width: 24px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #fff;
  -webkit-box-shadow: 2px 0 2px 0 rgba(50, 60, 71, 0.12);
          box-shadow: 2px 0 2px 0 rgba(50, 60, 71, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#_main-logo {
  width: 100px;
}

.push {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: 1001;
}

.transparent-bg {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}

.big-discover {
  position: relative;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 1200px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-discover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  margin: 62px 0 30px;
  width: 100%;
}

.content-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.left-nav-btn > span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.left-nav-btn.active span:nth-child(1) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg) translateX(5px);
          transform: rotate(-45deg) translateX(5px);
}

.left-nav-btn.active span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.left-nav-btn.active span:nth-child(3) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg) translateX(-5px);
          transform: rotate(45deg) translateX(-5px);
}
/*# sourceMappingURL=style.css.map */